<style>

</style>
<script>
        //find an a tag with the title value "services" and replace this a tag with a dropdown with 4 options
    const services = document.querySelector('[title="Services"]');
    console.log(services);
    const servicesParent = services.parentElement;
    console.log(servicesParent);
    const servicesDropdown = document.createElement('select');
    servicesDropdown.setAttribute('title', 'Services');
    servicesDropdown.setAttribute('id', 'services');
    servicesDropdown.setAttribute('name', 'services');
    servicesDropdown.setAttribute('onchange', "location = this.options[this.selectedIndex].value;");

    document.querySelector('[title="Services"]').remove();
    servicesParent.appendChild(servicesDropdown);

    //create title for the dropdown menu 
    const params = window.location.search;
    console.log("params:")
    console.log(params);

    //create options for the dropdown
    const servicesOptions = ['Rates', 'Consulting', 'Tutoring', 'Yoga'];
    servicesOptions.forEach((option, index) => {
        const optionElement = document.createElement('option');
        optionElement.setAttribute('value', option);
        optionElement.textContent = option;
        //make each option element link to the corresponding tab
       optionElement.value = window.location.origin + "/services/" + "?key=tab_" + (index + 1);
        servicesDropdown.appendChild(optionElement);

    });

    if(params && params.includes('tab')) {
        const paramsKey = params.split('=')[1];
        //find the option in the dropdown that matches the params key and make it active
        const options = servicesDropdown.querySelectorAll('option');
        console.log(options)
        options.forEach(option => {
            if(option.value.includes(paramsKey)) {
                option.setAttribute('selected', 'selected');
            }
        });
    }
    else {
        console.log('no params')
        const servicesTitle = document.createElement('option');
        servicesTitle.setAttribute('value', 'Services');
        servicesTitle.setAttribute('hidden', 'hidden');
        servicesTitle.textContent = 'Services';
        servicesTitle.setAttribute('selected', 'selected');
        servicesDropdown.appendChild(servicesTitle);    
    }

</script>
<style>
    select {
        background: none;
        color: unset;
        border: none;
        font-size: 16px;
        font-weight: 500;
        margin: 0;
        padding: 0;
    }
    option {
        background: none;
        color: #1e1e1e;
    }

</style>