<div class="tabs-container">
    <link rel="stylesheet" href="../main.css">
       
    <!-- Tabs Detail -->
    <div class="tabs-main">
        <span class="active" data-tab-value="#tab_1">Rates</span>
        <span data-tab-value="#tab_2">Coaching & Consulting</span>
        <span data-tab-value="#tab_3">Tutoring</span>
        <span data-tab-value="#tab_4">Yoga</span>
    </div>

    <!-- Tab content -->
    <div class="tab-content">
        <div class="tabs__tab active" id="tab_1" data-tab-info>
            <h2>Rates</h2>
            <p>My rates are listed by service. By using a sliding scale, I can serve a wider variety of clients with high quality, personalized consulting, coaching, tutoring, and teaching.</p>

        </div>
        <div class="tabs__tab" id="tab_2" data-tab-info>
            <h2>Coaching & Consulting</h2>
            <h3>$150-300/session</h3>
            <p>
                <strong>Educational Consulting:</strong><br>
                I provide consulting services to help your family make important decisions about your child’s educational journey in the D.C., Maryland, and Virginia area. I get to know you and your child’s needs and provide recommendations for schools your child could thrive at, and services your child could grow from.
            </p>   
                <br>
            <p>
                <strong>Parenting Coaching:</strong><br>
                I provide coaching for parents who areseeking to improve and build upon their parenting strategies to best support and relate to their children. I get to understand your family dynamics and systems, and provide recommendations for interventions, strategies, and language to improve your parenting experience.	
            </p>
        </div>
        <div class="tabs__tab" id="tab_3" data-tab-info>
            <h2>Tutoring & Teaching</h2>
            <h3>$100-150/session</h3>
            <p>All sessions are 45-60 minutes, depending on the needs for that day.</p>
            <br>
            <p>
                <strong>Tutoring & Academic Coaching:</strong><br>
                I work with you or your child to manage, process, and complete assignments. I help scaffold the student toward independence and ownership of their work.
            </p>
            <br>
            <p>
                <strong>Teaching (homeschool, after school):</strong><br>
                I work with you or your child to develop a deep understanding of a particular topic of focus. I can work as a teacher in your child’s homeschool experience, or as an after-school teacher, across all subjects. Special topics include: swimming, elementary French, child development, consent and sex education, journalism, design, yoga philosophy, and digital photography. 
            </p>
            <br>
            <p>
                <strong>Executive Function Coaching:</strong><br>
                I work with you or your child to build, test, and refine customized systems and build habits for managing and navigating school and life. Using a strengths-based approach, I help you build a toolkit of strategies and skills to support your ability to organize well, plan accurately, and work efficiently. 
            </p>

        </div>
        <div class="tabs__tab" id="tab_4" data-tab-info>
            <h2>Yoga</h2>
            <p>
                I facilitate a deepening development of you or your child’s body awareness, mind-body connection, and mindfulness through the practices of yoga. I can teach group classes for people of all sizes and abilities. If you are seeking a yoga teacher for your workplace, apartment building, conference, or retreat, contact J.
            </p>
            <table>
                <tr>
                    <th>Group Size</th>
                    <th>Pricing</th>
                </tr>
                <tr>
                    <td>
                        Group Class
                    </td>
                    <td>
                        $50-$90 / Hour
                    </td>
                </tr>
                <tr>
                    <td>
                        Private Adult Class (1-4 adults)
                    </td>
                    <td>
                        $110-$150 / Hour
                </tr>
                <tr>
                    <td>
                        Private Child Class (1-4 children)
                    </td>
                    <td>
                        $80-$120 / 45 minutes
                    </td>
                </tr>
                <tr>
                    <td>
                        Group Private (adults & children)
                    </td>
                    <td>
                        $120-$160 / 50 minutes
                    </td>
                </tr>
            </table>

        </div>
    </div>
    <script src="../app.js"></script>
</div>
